body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.8;
}

@import "headings";
@import "copy";