.site {
    max-width: 125rem;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
    grid-template-areas:
        "header header header"
        ". main ."
        ". sidebar ."
        "footer footer footer";
}

.site-main {
    grid-area: main;
    margin-top: 3.75rem;
}